<p><%= @school.id %></p>
<p><%= @school.uid %></p>
<p><%= @school.overweight_percentage %></p>
<p><%= @school.obese_percentage %></p>
<p><%= @school.country_id %></p>
<p><%= @school.created_at %></p>
